* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

nav {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #FFFFFF;
    background-color: #00008b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav h2 {
    padding-left: 10px;
}

nav ul {
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

main{
    margin-top: 10vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    background-color: #0000bd;
    border-radius: 5px;
    color: #FFFFFF;
}

button:hover{
    cursor: pointer;
    background-color: #00008b;
}

.main-div{
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.main-div span{
    height: 50%;
    width: 100%;
    padding: 10px;
    gap: 20px;
}

.main-div button{
    height: 70px;
    width: 90px;
}

.playlists-display-div{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.playlists-display-div button{
    height: 50px;
    width: 80px;
}

.playlists-select-div{
    height: 30vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.playlists-select-div button{
    height: 50px;
    width: 80px;
}
