* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

nav {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #FFFFFF;
    background-color: #00008b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav h2 {
    padding-left: 10px;
}

nav ul {
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-css {
    height: 90vh;
    width: 100vw;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.desc-div {
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000000;
}

.buttons-div {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    padding: 20px;
}

.buttons-div button {
    height: 40px;
    width: 25%;
    font-size: 20px;
    border: none;
    background-color: #0000be;
    color: #FFFFFF;
    border-radius: 5px;
}

.buttons-div button:hover {
    cursor: pointer;
    background-color: #00008b;
}

.buttons-div button:active {
    background-color: #00005d;
    transform: translateY(2px);
}