* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #FFFFFF;
    background-color: #00008b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    padding-left: 10px;
}

nav ul {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.test-div-css {
    height: 150vh;
    width: 50vw;
    border: 2px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}