* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    color: #FFFFFF;
    background-color: #00008b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    padding-left: 10px;
}

nav ul {
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

input{
    box-shadow: 2px 2px 10px 1px #c3c3c3;
    height: 25%;
    width: 80%;
    border-radius: 5px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section h2{
    color: red;
    font-size: 20px;
    font-weight: 600;
}


.aanmelden-div-css{
    margin-top: 10vh;
    height: 90vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}

.aanmelden-box-css{
    height: 600px;
    width: 500px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 2px #07070788;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aanmeld-header-css{
    height: 10%;
    width: 100%;
    text-align: center;
    padding-top: 4px;
    font-size: 25px;
}

.aanmeld-section-css{
    height:80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aanmeld-section-div-css{
    height: 25%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.aanmeld-footer-css{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.aanmelden-button-css{
    height: 80%;
    width: 25%;
    background-color: #0000e4;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 10px 1px #c3c3c3;

}

.aanmelden-button-css:hover{
    cursor: pointer;
    background-color: #00008b;
}

.aanmelden-button-css:active {
  background-color: #00005d;
  transform: translateY(2px);
}

